{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <!-- TODO -->
        File1<br>
        <input type="file" name = "file1"><br>
        File2<br>
        <input type="file" name = "file2"><br>
        How do you want to compare?<br>
        <label><input type="radio" name="algorithm" value="lines">Compare Lines</label><br>
        <label><input type="radio" name="algorithm" value="sentences">Compare Sentences</label><br>
        <label><input type="radio" name="algorithm" value="substrings">Compare Substrings<input name = "length" type="number" placeholder="of length n"></label><br>


        <button type="submit">Compare</button>
        </form>
    </div>

{% endblock %}
